<!DOCTYPE html>
<html>
    <head>
        <title>Hiromi's Django Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Hiromi's Django Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec
        </article>
    </body>
</html>